body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
    color: #444649;
}

.textoColor {
    color: #444649;
}

#sidenav-overlay {
    z-index: 996;
}

.textoTeal {
	color: teal;
}

.textoWhite {
	color: white;
}